@media (min-width: 911px) {
    .BodyInicio {
        background-color: #092635;
        background-image: 
        url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png),
        url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png);
        background-size: 
        200em 200em,
        200em 200em;
        background-position: 
        0% 0%,
        100% 100%;
        background-repeat: repeat-y;
        animation: baileNotas 4s infinite;
    } 
    .Pestañas {
        background-color: rgb(158, 200, 185, 90%);
        position: fixed;
        z-index: 1;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 24.8rem;
        padding-right: 31.9rem;
        margin-left: 0.2%;
        margin-right: 0.5%;
        margin-top: 0.5%;
        font-size: 2em;
        word-spacing: 1rem;
    }
    .PestañasPalabras {
        color:#092635;
        text-decoration: none;
    }
    .PestañasPalabras:hover {
        color:#1B4242;
        text-shadow: 0px 0px 10px #9290C3, 0px 0px 20px #535C91,  0px 0px 30px #1B1A55, 0px 0px 40px #070F2B;
    }
    .nombreEstudio {
        margin-top: 1em;
        text-align: center;
        font-size: 15em;
        text-shadow: 10px 10px 10px #1B4242, 10px 10px 20px #183D3D, 10px 10px 30px #5C8374;
        font-family:fantasy;
        color: #9EC8B9;
        position: relative;
    }
    @keyframes baileNotas {
        0%{
            background-color: #092635;
            background-image: 
            url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png),
            url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png);
            background-size: 
            200px 200px,
            200px 200px;
            background-position: 
            0% 0%,
            100% 100%;
            background-repeat: repeat-y;
        }
        50%{
            background-color: #092635;
            background-image: 
            url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png),
            url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png);
            background-size: 
            200px 200px,
            200px 200px;
            background-position: 
            0% 10%,
            100% 90%;
            background-repeat: repeat-y;
    
        }
        100%{
            background-color: #092635;
            background-image: 
            url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png),
            url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png);
            background-size: 
            200px 200px,
            200px 200px;
            background-position: 
            0% 0%,
            100% 100%;
            background-repeat: repeat-y;
        }
    }
    .InformacionNico {
        background-color: rgb(158, 200, 185, 40%);
        border-style: dotted;
        border-color: #F5E8C7;
        border-width: 0.5rem;
        border-radius: 5rem;
        padding: 1% 1%;
        position:static;
        margin-top: 20%;
        margin-bottom: -5%;
        margin-right: 40%;
        margin-left: 25% ;
        text-align: center;
        font-family:'Segoe UI';
        font-size: 2em;
        color: white;
    }
    .ImagenNico {
        box-shadow: 10px 40px 50px #5C8374;
        transform: rotate(20deg);
        border-radius: 20% 20%;
        border-color: #9EC8B9;
        border-style: solid;
        border-width: 0.5rem;
        margin-top: -12%;
        margin-left: 70%;
        position:static;
        width: 21.875rem;
        height: 21.875rem;
        animation: parpadeo 2s infinite;
    }
    
    .InformacionSeba {
        background-color: rgb(158, 200, 185, 40%);
        border-style: dotted;
        border-color: #F5E8C7;
        border-width: 8px;
        border-radius: 50px;
        padding: 1% 1%;
        position: static;
        margin-top: 10%;
        margin-bottom: -28.7%;
        margin-right: 25%;
        margin-left: 40% ;
        text-align: center;
        font-family:'Segoe UI';
        font-size: 2em;
        color: white;
    }
    .ImagenSeba {
        position: static;
        box-shadow: -50px 40px 50px #5C8374;
        transform: rotate(-20deg);
        border-radius: 20% 20%;
        border-color: #9EC8B9;
        border-style: solid;
        border-width: 0.5rem;
        margin-top: 12%;
        margin-left: 10%;
        width: 21.875rem;
        height: 21.875rem;
    }
    .Artistas {
        margin-right: 10%;
        margin-left: 10%;
        border-style: solid;
        border-width: 0.25rem;
        border-top: #5C8374;
        padding-bottom: 2%;
        margin-top: 10%;
        text-align: center;
        font-family:'Gill Sans';
        font-size: 5em;
        color: #9EC8B9;
    }
    .ImagenJoaco {
        margin-top: 7.6%;
        left: 5%;
        position: relative;
        width: 31.25rem;
        height: 31.25rem;
        border-radius: 100% 100%;
        display: block;
    }
    
    .FondoJoaco {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color:#F5E8C7;
        bottom: -249.5%;
        left: 4%;
        width: 34.375rem;
        height: 34.375rem;
        position: absolute;
        display: block;
    } 
    .FondoJoaco2 {
        background-color:#F5E8C7;
        border-top-right-radius: 30%;
        border-bottom-right-radius: 30%;
        bottom: -249.5%;
        left: 34%;
        width: 50rem;
        height: 34.4rem;
        position: absolute;
        display: block;
    }
    .InformacionJoaco {
        padding-left: 5%;
        padding-right: 7%;
        font-size: 2em;
        font-family: 'Trebuchet MS';
        display: block;
    }
    .InformacionJoaco2 {
        padding-left: 5%;
        padding-right: 7%;
        font-size: 2em;
        font-family: 'Trebuchet MS';
        text-align: center;
        display: block;
    } 
    .igJoaco {
        text-align: center;
        padding-top: 3.75rem;
        padding-right: 21.875rem;
        font-size: 2em;
        font-family: 'Trebuchet MS';
        display: block;
    }
    .IgJoaco {
        left: 2%;
        bottom: 2%;
        position: absolute;
        width: 3.75rem;
        height: 3.75rem;
        display: block;
    }
    .ytJoaco {
        text-align: center;
        position: relative;
        left: 23%;
        margin-top: -8%;
        font-size: 2em;
        font-family: 'Trebuchet MS';
        display: block;
    }
    .YtJoaco {
        left: 55%;
        bottom: 2%;
        position: absolute;
        width: 3.75rem;
        height: 3.75rem;
        display: block;
    }
    .igAJoaco {
        text-decoration: none;
        color: #070F2B;
        display: block;
    }
    .ImagenAlex {
        background-color: #F5E8C7;
        margin-top: 12.5%;
        left: 65.5%;
        width: 31.25rem;
        height: 31.25rem;
        border-radius: 100% 100%;
        position: relative;
        display: block;
    }
    .FondoAlex {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        background-color:#F5E8C7;
        bottom: -340%;
        right: 3.5%;
        width: 34.375rem;
        height: 34.375rem;
        position: absolute;
        display: block;
    }
    .FondoAlex2 {
        background-color:#F5E8C7;
        border-top-left-radius: 30%;
        border-bottom-left-radius: 30%;
        bottom: -340.1%;
        right: 34%;
        width: 50rem;
        height: 34.4rem;
        position: absolute;
        display: block;
    }
    .InformacionAlex {
        padding-left: 0%;
        padding-right: 5%;
        padding-bottom: 0%;
        font-size: 2em;
        font-family: 'Trebuchet MS';
        text-align: right;
        display: block;
    }
    .InformacionAlex2 {
        padding-left: 7%;
        padding-right: 5%;
        font-size: 2em;
        font-family: 'Trebuchet MS';
        text-align: center;
        display: block;
    }
    .igAlex {
        margin-top: -7%;
        margin-left: 65%;
        font-size: 2em;
        font-family: 'Trebuchet MS';
        text-decoration: none;
        color: #070F2B;
        display: inline-block;
    }
    .IgAlex {
        bottom: 2%;
        left: 55%;
        position: absolute;
        width: 3.75rem;
        height: 3.75rem;
        display: block;
    }
    footer {
        margin-right: 2.5%;
        margin-left: 3.5%;
        margin-top: 10%;
        display: inline-block;
    }
    .Absolute {
        width: 30em;
        display: inline-block;
    }
    .Logitech {
        width: 35em;
        display: inline-block;
    
    }
    .Speed {
        width: 30em;
        display: inline-block;
    
    }
}
@media (max-width: 480px) {
    .BodyInicio {
        background-color: #092635;
        background-image: 
        url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png),
        url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png);
        background-size: 
        5em 5em,
        5em 5em;
        background-position: 
        0% 0%,
        100% 100%;
        background-repeat: repeat-y;
        animation: baileNotas 4s infinite;
    } 
    .Pestañas {
        background-color: rgb(158, 200, 185, 90%);
        background-size: 100% 100%;
        position: fixed;
        margin-left: 0.5%;
        margin-right: 0%;
        word-spacing: 1rem;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 94.5%;
        text-align: center;
        padding-left: 0%;
        padding-right: 0%;
        z-index: 1;
        font-size: 0.8rem;
    }
    .PestañasPalabras {
        color:#092635;
        text-decoration: none;
    }
    .PestañasPalabras:hover {
        color:#1B4242;
        text-shadow: 0px 0px 10px #9290C3, 0px 0px 20px #535C91,  0px 0px 30px #1B1A55, 0px 0px 40px #070F2B;
    }
    .nombreEstudio {
        margin-top: 20%;
        text-align: center;
        font-size: 3em;
        text-shadow: 10px 10px 10px #1B4242, 10px 10px 20px #183D3D, 10px 10px 30px #5C8374;
        font-family:fantasy;
        color: #9EC8B9;
        position: relative;
    }
@keyframes baileNotas {
        0%{
            background-color: #092635;
            background-image: 
            url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png),
            url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png);
            background-size: 
            5em 5em,
            5em 5em;
            background-position: 
            0% 0%,
            100% 100%;
            background-repeat: repeat-y;
        }
        50%{
            background-color: #092635;
            background-image: 
            url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png),
            url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png);
            background-size: 
            5em 5em,
            5em 5em;
            background-position: 
            0% 10%,
            100% 90%;
            background-repeat: repeat-y;
    
        }
        100%{
            background-color: #092635;
            background-image: 
            url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png),
            url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png);
            background-size: 
            5em 5em,
            5em 5em;
            background-position: 
            0% 0%,
            100% 100%;
            background-repeat: repeat-y;
        }
    }
    .InformacionNico {
        background-color: rgb(158, 200, 185, 40%);
        border-style: dotted;
        border-color: #F5E8C7;
        width: 40%;
        word-spacing: 0rem;
        border-width: 0.2rem;
        border-radius: 5rem;
        padding: 2% 3%;
        position:static;
        margin-top: 20%;
        margin-bottom: -5%;
        margin-right: 40%;
        margin-left: 12% ;
        text-align: center;
        font-family:'Segoe UI';
        font-size: 0.5em;
        color: white;
    }
    .ImagenNico {
        box-shadow: 2px 5px 4px #5C8374;
        transform: rotate(20deg);
        border-radius: 20% 20%;
        border-color: #9EC8B9;
        border-style: solid;
        border-width: 0.2rem;
        margin-top: -12%;
        margin-left: 66%;
        position:static;
        width: 21%;
        height: 21%;
        animation: parpadeo 2s infinite;
    }
    .InformacionSeba {
        background-color: rgb(158, 200, 185, 40%);
        border-style: dotted;
        border-color: #F5E8C7;
        width: 40%;
        word-spacing: 0rem;
        border-width: 0.2rem;
        border-radius: 5rem;
        padding: 2% 2%;
        position:static;
        margin-top: 20%;
        margin-bottom: -5%;
        margin-right: 25%;
        margin-left: 40% ;
        text-align: center;
        font-family:'Segoe UI';
        font-size: 0.5em;
        color: white;
    }
    .ImagenSeba {
        position: static;
        box-shadow: -2px 5px 6px #5C8374;
        transform: rotate(-20deg);
        border-radius: 20% 20%;
        border-color: #9EC8B9;
        border-style: solid;
        border-width: 0.2rem;
        margin-top: -10%;
        margin-left: 10%;
        width: 21%;
        height: 21%;
    }
    .Artistas {
        margin-right: 10%;
        margin-left: 10%;
        border-style: solid;
        border-width: 0.1rem;
        border-top: #5C8374;
        padding-bottom: 2%;
        margin-top: 15%;
        text-align: center;
        font-family:'Gill Sans';
        font-size: 0.9em;
        color: #9EC8B9;
    }
    .ImagenJoaco {
        margin-top: 23.5%;
        left: 10%;
        position: relative;
        width: 34%;
        height: 34%;
        border-radius: 100% 100%;
        display: block;
    }
    .FondoJoaco {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color:#F5E8C7;
        bottom: -10%;
        left: 9%;
        width: 34%;
        height: 20%;
        position: absolute;
        display: block;
    } 
    .FondoJoaco2 {
        background-color:#F5E8C7;
        border-top-right-radius: 30%;
        border-bottom-right-radius: 30%;
        bottom: -10%;
        left: 34%;
        width: 55%;
        height: 20%;
        position: absolute;
        display: block;
    }
    .InformacionJoaco {
        padding-left: 25%;
        padding-right: 2%;
        font-size: 0.5em;
        font-family: 'Trebuchet MS';
        display: block;
    }
    .InformacionJoaco2 {
        padding-left: 25%;
        padding-right: 2%;
        font-size: 0.5em;
        font-family: 'Trebuchet MS';
        text-align: center;
        display: block;
    } 
    .igJoaco {
        text-align: center;
        padding-top: 1rem;
        padding-right: 4rem;
        font-size: 0.5em;
        font-family: 'Trebuchet MS';
        display: block;
    }
    .IgJoaco {
        left: 12%;
        bottom: 5%;
        position: absolute;
        width: 0.7rem;
        height: 0.7rem;
        display: block;
    }
    .ytJoaco {
        text-align: center;
        position: relative;
        left: 23%;
        margin-top: -5%;
        font-size: 0.5em;
        font-family: 'Trebuchet MS';
        display: block;
    }
    .YtJoaco {
        left: 59%;
        bottom: 5%;
        position: absolute;
        width: 0.7rem;
        height: 0.7rem;
        display: block;
    }
    .igAJoaco {
        text-decoration: none;
        color: #070F2B;
        display: block;
    }
    .ImagenAlex {
        background-color: #F5E8C7;
        margin-top: 27.5%;
        left: 58%;
        width: 34%;
        height: 41%;
        border-radius: 100% 100%;
        position: relative;
        display: block;
    }
    .FondoAlex {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        background-color:#F5E8C7;
        bottom: -40%;
        right: 9%;
        width: 34%;
        height: 20%;
        position: absolute;
        display: block;
    }
    .FondoAlex2 {
        background-color:#F5E8C7;
        border-top-left-radius: 30%;
        border-bottom-left-radius: 30%;
        bottom: -40%;
        right: 34%;
        width: 55%;
        height: 20%;
        position: absolute;
        display: block;
    }
    .InformacionAlex {
        padding-left: 0%;
        padding-right: 20%;
        padding-bottom: 0%;
        font-size: 0.5em;
        font-family: 'Trebuchet MS';
        text-align: right;
        display: block;
    }
    .InformacionAlex2 {
        padding-left: 2%;
        padding-right: 20%;
        font-size: 0.5em;
        font-family: 'Trebuchet MS';
        text-align: center;
        display: block;
    }
    .igAlex {
        margin-top: -11%;
        margin-left: 60%;
        font-size: 0.3rem;
        font-family: 'Trebuchet MS';
        text-decoration: none;
        display: block;
        color: #070F2B;
    }
    .IgAlex {
        bottom: 1%;
        left: 53%;
        position: relative;
        width: 0.7rem;
        height: 0.7rem;
        display: block;
    }
    footer {
        margin-right: 2.5%;
        margin-left: 3.5%;
        margin-top: 30%;
        display: inline-block;
    }
    .Absolute {
        width: 30%;
        display: inline-block;
    }
    .Logitech {
        width: 35%;
        display: inline-block;
    
    }
    .Speed {
        width: 30%;
        display: inline-block;
    
    }
}