.BodyInicio {
    background-color: #092635;
    background-image: 
    url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png),
    url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png);
    background-size: 
    200em 200em,
    200em 200em;
    background-position: 
    0% 0%,
    100% 100%;
    background-repeat: repeat-y;
    animation: baileNotas 4s infinite;
}
.Pestañas {
    background-color: rgb(158, 200, 185, 90%);
    position: fixed;
    z-index: 1;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 24%;
    padding-right: 21%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: -0.5%;
    font-size: 2em;
    word-spacing: 6.25rem;
}
.PestañasPalabras {
    color:#092635;
    text-decoration: none;
}
.PestañasPalabras:hover {
    color:#1B4242;
    text-shadow: 0px 0px 10px #9290C3, 0px 0px 20px #535C91,  0px 0px 30px #1B1A55, 0px 0px 40px #070F2B;
}
.nombreEstudio {
    margin-top: 1em;
    text-align: center;
    font-size: 15em;
    text-shadow: 10px 10px 10px #1B4242, 10px 10px 20px #183D3D, 10px 10px 30px #5C8374;
    font-family:fantasy;
    color: #9EC8B9;
    position: relative;
}
@keyframes baileNotas {
    0%{
        background-color: #092635;
        background-image: 
        url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png),
        url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png);
        background-size: 
        200px 200px,
        200px 200px;
        background-position: 
        0% 0%,
        100% 100%;
        background-repeat: repeat-y;
        animation: baileNotas 4s infinite;
    }
    50%{
        background-color: #092635;
        background-image: 
        url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png),
        url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png);
        background-size: 
        200px 200px,
        200px 200px;
        background-position: 
        0% 10%,
        100% 90%;
        background-repeat: repeat-y;
        animation: baileNotas 4s infinite;

    }
    100%{
        background-color: #092635;
        background-image: 
        url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png),
        url(Imagenes/png-transparent-note-music-symbol-musical-note-pixel-pixel-art-8-bit-removebg-preview.png);
        background-size: 
        200px 200px,
        200px 200px;
        background-position: 
        0% 0%,
        100% 100%;
        background-repeat: repeat-y;
        animation: baileNotas 4s infinite;

    }
}
.InformacionNico {
    background-color: rgb(158, 200, 185, 40%);
    border-style: dotted;
    border-color: #F5E8C7;
    border-width: 0.5rem;
    border-radius: 5rem;
    padding: 1% 1%;
    position:static;
    margin-top: 20%;
    margin-bottom: -5%;
    margin-right: 40%;
    margin-left: 25% ;
    text-align: center;
    font-family:'Segoe UI';
    font-size: 2em;
    color: white;
}
.ImagenNico {
    box-shadow: 10px 40px 50px #5C8374;
    transform: rotate(20deg);
    border-radius: 20% 20%;
    border-color: #9EC8B9;
    border-style: solid;
    border-width: 0.5rem;
    margin-top: -12%;
    margin-left: 70%;
    position:static;
    width: 21.875rem;
    height: 21.875rem;
    animation: parpadeo 2s infinite;
}

.InformacionSeba {
    background-color: rgb(158, 200, 185, 40%);
    border-style: dotted;
    border-color: #F5E8C7;
    border-width: 8px;
    border-radius: 50px;
    padding: 1% 1%;
    position: static;
    margin-top: 10%;
    margin-bottom: -28.7%;
    margin-right: 25%;
    margin-left: 40% ;
    text-align: center;
    font-family:'Segoe UI';
    font-size: 2em;
    color: white;
}
.ImagenSeba {
    position: static;
    box-shadow: -50px 40px 50px #5C8374;
    transform: rotate(-20deg);
    border-radius: 20% 20%;
    border-color: #9EC8B9;
    border-style: solid;
    border-width: 0.5rem;
    margin-top: 12%;
    margin-left: 10%;
    width: 21.875rem;
    height: 21.875rem;
}
.Artistas {
    margin-right: 10%;
    margin-left: 10%;
    border-style: solid;
    border-width: 0.25rem;
    border-top: #5C8374;
    padding-bottom: 2%;
    margin-top: 20%;
    text-align: center;
    font-family:'Gill Sans';
    font-size: 5em;
    color: #9EC8B9;
}
.ImagenJoaco {
    margin-top: 10%;
    left: 5%;
    position: relative;
    display: inline-block;
    width: 31.25rem;
    height: 31.25rem;
    border-radius: 100% 100%;
}

.FondoJoaco {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color:#F5E8C7;
    bottom: -249.5%;
    left: 4%;
    width: 34.375rem;
    height: 34.375rem;
    position: absolute;
} 
.FondoJoaco2 {
    background-color:#F5E8C7;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    bottom: -249.5%;
    left: 32%;
    width: 50rem;
    height: 34.4rem;
    position: absolute;
}
.InformacionJoaco {
    padding-left: 5%;
    padding-right: 7%;
    font-size: 2em;
    font-family: 'Trebuchet MS';
}
.InformacionJoaco2 {
    padding-left: 5%;
    padding-right: 7%;
    font-size: 2em;
    font-family: 'Trebuchet MS';
    text-align: center;
} 
.igJoaco {
    text-align: center;
    padding-top: 3.75rem;
    padding-right: 21.875rem;
    font-size: 2em;
    font-family: 'Trebuchet MS';
}
.IgJoaco {
    left: 2%;
    bottom: 2%;
    position: absolute;
    width: 3.75rem;
    height: 3.75rem;
}
.ytJoaco {
    text-align: center;
    position: relative;
    left: 23%;
    bottom: 13%;
    font-size: 2em;
    font-family: 'Trebuchet MS';
}
.YtJoaco {
    left: 55%;
    bottom: 2%;
    position: absolute;
    width: 3.75rem;
    height: 3.75rem;
}
.igAJoaco {
    text-decoration: none;
    color: #070F2B;
}
.ImagenAlex {
    width: 31.25rem;
    height: 31.25rem;
    border-radius: 100% 100%;
    position: static;
}
